/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* workshop CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.workshop {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.workshop .col-lg-3 {
  text-align: center;
  margin-bottom: 20px;
}
.workshop h2 {
  font-weight: normal;
}

.workshop h1 {
  text-align: center;
}

.workshop .col-lg-3 p {
	text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

